.home > .container {
   padding: 5px;
   border: 1px solid var(--primary-color);
}

.store-flex-container{
    gap:0;
}
@media (max-width: 768px) {
.store-flex-container{
    justify-content: flex-start;
}
   
}