.newsletter {
    padding: 3rem 1rem;
    background-color: var(--primary-color);
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 2.3rem 3rem;
    
}

.newsletter h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.newsletter p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.newsletter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.newsletter-form input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 300px;
}

.newsletter-form button {
    background-color: #8c6e63;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.newsletter-form button:hover {
    background-color: #333;
}

@media (max-width: 768px) {

    .newsletter {
        margin: 1rem;
    }

}
