<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>EduCore - Online Courses & Education HTML Template</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animated_barfiller.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/venobox.min.css">
    <link rel="stylesheet" href="css/scroll_button.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/pointer.css">
    <link rel="stylesheet" href="css/jquery.calendar.css">
    <link rel="stylesheet" href="css/range_slider.css">
    <link rel="stylesheet" href="css/startRating.css">
    <link rel="stylesheet" href="css/video_player.css">
    <link rel="stylesheet" href="css/jquery.simple-bar-graph.min.css">
    <link rel="stylesheet" href="css/select2.min.css">
    <link rel="stylesheet" href="css/sticky_menu.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel=" stylesheet" href="css/spacing.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body class="home_3">


    <!--============ PRELOADER START ===========-->
    <div id="preloader">
        <div class="preloader_icon">
            <img src="images/preloader.png" alt="Preloader" class="img-fluid">
        </div>
    </div>
    <!--============ PRELOADER START ===========-->


    <!--===========================
        HEADER START
    ============================-->
    <header class="header_3">
        <div class="row">
            <div class="col-xxl-4 col-lg-7 col-md-8 d-none d-md-block">
                <ul class="wsus__header_left d-flex flex-wrap">
                    <li><a href="#"><i class="fab fa-facebook-f"></i> 240k Followers</a></li>
                    <li><a href="callto:+8806545643"><i class="fas fa-phone-alt"></i> +880 654 - 5643</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> 58k Followers</a></li>
                </ul>
            </div>
            <div class="col-xxl-5 col-lg-7 d-none d-xxl-block">
                <div class="wsus__header_center">
                    <p> <span>Limited-Time Special</span> Use Code to Get 30% Off Your First Buying EduCore. <a
                            href="#">Find out more!</a></p>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-5 col-md-4">
                <ul class="wsus__header_right d-flex flex-wrap">
                    <li>
                        <select class="select_js">
                            <option value="">English </option>
                            <option value="">Japanese</option>
                            <option value="">Korean</option>
                            <option value="">Chinese</option>
                            <option value="">Urdu</option>
                        </select>
                    </li>
                    <li>
                        <select class="select_js">
                            <option value="">$USD</option>
                            <option value="">₹INR</option>
                            <option value="">¥CNY</option>
                            <option value="">€EUR</option>
                            <option value="">฿THB</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--===========================
        HEADER END
    ============================-->


    <!--===========================
        MAIN MENU 3 START
    ============================-->
    <nav class="navbar navbar-expand-lg main_menu main_menu_3">
        <a class="navbar-brand" href="index_3.html">
            <img src="images/logo.png" alt="EduCore" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="menu_category">
                <div class="icon">
                    <img src="images/grid_icon.png" alt="Category" class="img-fluid">
                </div>
                Category
                <ul>
                    <li>
                        <a href="#">
                            <span>
                                <img src="images/menu_category_icon_1.png" alt="Category" class="img-fluid">
                            </span>
                            Development
                        </a>
                        <ul class="category_sub_menu">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">UI/UX Design</a></li>
                            <li><a href="#">Graphic Design</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="images/menu_category_icon_2.png" alt="Category" class="img-fluid">
                            </span>
                            Business
                        </a>
                        <ul class="category_sub_menu">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">UI/UX Design</a></li>
                            <li><a href="#">Graphic Design</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="images/menu_category_icon_3.png" alt="Category" class="img-fluid">
                            </span>
                            Marketing
                        </a>
                        <ul class="category_sub_menu">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">UI/UX Design</a></li>
                            <li><a href="#">Graphic Design</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="images/menu_category_icon_4.png" alt="Category" class="img-fluid">
                            </span>
                            Lifestyle
                        </a>
                        <ul class="category_sub_menu">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">UI/UX Design</a></li>
                            <li><a href="#">Graphic Design</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="images/menu_category_icon_5.png" alt="Category" class="img-fluid">
                            </span>
                            Health & Fitness
                        </a>
                        <ul class="category_sub_menu">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">UI/UX Design</a></li>
                            <li><a href="#">Graphic Design</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="images/menu_category_icon_6.png" alt="Category" class="img-fluid">
                            </span>
                            Design
                        </a>
                        <ul class="category_sub_menu">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">UI/UX Design</a></li>
                            <li><a href="#">Graphic Design</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="images/menu_category_icon_7.png" alt="Category" class="img-fluid">
                            </span>
                            Academics
                        </a>
                        <ul class="category_sub_menu">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">UI/UX Design</a></li>
                            <li><a href="#">Graphic Design</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Courses <i class="far fa-angle-down"></i></a>
                    <ul class="droap_menu">
                        <li><a href="courses.html">Courses</a></li>
                        <li><a href="courses_details.html">Course details</a></li>
                        <li><a href="course_video.html">Course video</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">pages <i class="far fa-angle-down"></i></a>
                    <ul class="droap_menu">
                        <li><a href="category.html">Categories</a></li>
                        <li><a href="cart_view.html">cart view</a></li>
                        <li><a href="checkout.html">checkout</a></li>
                        <li><a href="payment.html">payment</a></li>
                        <li><a href="pricing.html">pricing</a></li>
                        <li><a href="student_reviews.html">student review</a></li>
                        <li><a href="instructor.html">Instructor</a></li>
                        <li><a href="instructor_details.html">Instructor details</a></li>
                        <li><a href="instructor_finder.html">Instructor finder</a></li>
                        <li><a href="error.html">error</a></li>
                        <li><a href="faq.html">faq</a></li>
                        <li><a href="sign_in.html">sign in</a></li>
                        <li><a href="sign_up.html">sign up</a></li>
                        <li><a href="forum.html">forum</a></li>
                        <li><a href="forum_categories.html">forum Categories</a></li>
                        <li><a href="forum_create_topic.html">forum create topic</a></li>
                        <li><a href="forum_single_topic.html">forum single topic</a></li>
                        <li><a href="dashboard.html">Dashboard</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">blog <i class="far fa-angle-down"></i></a>
                    <ul class="droap_menu">
                        <li><a href="blogs.html">blog grid view</a></li>
                        <li><a href="blog_list.html">blog list view</a></li>
                        <li><a href="blog_details.html">blog details</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">contact us</a>
                </li>
            </ul>

            <div class="right_menu">
                <div class="menu_search_btn">
                    <img src="images/search_icon.png" alt="Search" class="img-fluid">
                </div>
                <ul>
                    <li>
                        <a class="menu_signin" href="#">
                            <span>
                                <img src="images/cart_icon_black.png" alt="user" class="img-fluid">
                            </span>
                            <b>06</b>
                        </a>
                    </li>
                    <li>
                        <a class="admin" href="#">
                            <span>
                                <img src="images/user_icon_black.png" alt="user" class="img-fluid">
                            </span>
                            admin
                        </a>
                    </li>
                    <li>
                        <a class="common_btn" href="#">Sign Up</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="wsus__menu_3_search_area">
        <form action="#">
            <input type="text" placeholder="Search School, Online.....">
            <button class="common_btn" type="submit">Search</button>
            <span class="close_search"><i class="far fa-times"></i></span>
        </form>
    </div>
    <!--===========================
        MAIN MENU 3 END
    ============================-->


    <!--============================
        STICKY MENU START
    ==============================-->
    <div class="mobile_menu_area">
        <div class="mobile_menu_area_top">
            <a class="mobile_menu_logo" href="index.html">
                <img src="images/logo.png" alt="EduCore">
            </a>
            <div class="mobile_menu_icon d-block d-lg-none" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                <span class="mobile_menu_icon"><i class="far fa-stream menu_icon_bar"></i></span>
            </div>
        </div>

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i
                    class="fal fa-times"></i></button>
            <div class="offcanvas-body">

                <ul class="mobile_menu_header d-flex flex-wrap">
                    <li><a href="cart_view.html"><i class="far fa-shopping-basket"></i> <span>2</span></a>
                    </li>
                    <li><a href="dashboard.html"><i class="far fa-user"></i></a></li>
                </ul>

                <form class="mobile_menu_search">
                    <input type="text" placeholder="Search">
                    <button type="submit"><i class="far fa-search"></i></button>
                </form>

                <div class="mobile_menu_item_area">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                aria-selected="true">menu</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                aria-selected="false">Categories</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab" tabindex="0">
                            <ul class="main_mobile_menu">
                                <li class="mobile_dropdown">
                                    <a href="#">home</a>
                                    <ul class="inner_menu">
                                        <li><a class="active" href="index.html">Home style 01</a></li>
                                        <li><a href="index_2.html">Home style 02</a></li>
                                        <li><a href="index_3.html">Home style 03</a></li>
                                        <li><a href="index_4.html">Home style 04</a></li>
                                        <li><a href="index_5_dark.html">Home Dark</a></li>
                                    </ul>
                                </li>
                                <li class="mobile_dropdown">
                                    <a href="#">courses</a>
                                    <ul class="inner_menu">
                                        <li><a href="courses.html">Courses</a></li>
                                        <li><a href="courses_details.html">Course details</a></li>
                                        <li><a href="course_video.html">Course video</a></li>
                                    </ul>
                                </li>
                                <li class="mobile_dropdown">
                                    <a href="#">shop</a>
                                    <ul class="inner_menu">
                                        <li><a href="products.html">product</a></li>
                                        <li><a href="products_2.html">product 2</a></li>
                                        <li><a href="product_details.html">product details</a></li>
                                    </ul>
                                </li>
                                <li class="mobile_dropdown">
                                    <a href="#">pages</a>
                                    <ul class="inner_menu">
                                        <li><a href="about.html">about us</a></li>
                                        <li><a href="category.html">Categories</a></li>
                                        <li><a href="cart_view.html">cart view</a></li>
                                        <li><a href="checkout.html">checkout</a></li>
                                        <li><a href="contact.html">contact</a></li>
                                        <li><a href="payment.html">payment</a></li>
                                        <li><a href="pricing.html">pricing</a></li>
                                        <li><a href="student_reviews.html">student review</a></li>
                                        <li><a href="instructor.html">Instructor</a></li>
                                        <li><a href="instructor_details.html">Instructor details</a></li>
                                        <li><a href="instructor_finder.html">Instructor finder</a></li>
                                        <li><a href="error.html">error</a></li>
                                        <li><a href="faq.html">faq</a></li>
                                        <li><a href="sign_in.html">sign in</a></li>
                                        <li><a href="sign_up.html">sign up</a></li>
                                        <li><a href="forum.html">forum</a></li>
                                        <li><a href="forum_categories.html">forum Categories</a></li>
                                        <li><a href="forum_create_topic.html">forum create topic</a></li>
                                        <li><a href="forum_single_topic.html">forum single topic</a></li>
                                        <li><a href="dashboard.html">Dashboard</a></li>
                                    </ul>
                                </li>
                                <li class="mobile_dropdown">
                                    <a href="#">blog</a>
                                    <ul class="inner_menu">
                                        <li><a href="blogs.html">blog grid view</a></li>
                                        <li><a href="blog_list.html">blog list view</a></li>
                                        <li><a href="blog_details.html">blog details</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                            tabindex="0">
                            <ul class="main_mobile_menu">
                                <li class="mobile_dropdown">
                                    <a href="#">
                                        <span>
                                            <img src="images/menu_category_icon_1.png" alt="Category" class="img-fluid">
                                        </span>
                                        Development
                                    </a>
                                    <ul class="inner_menu">
                                        <li><a href="courses_details.html">Web Design</a></li>
                                        <li><a href="courses_details.html">Web Development</a></li>
                                        <li><a href="courses_details.html">UI/UX Design</a></li>
                                        <li><a href="courses_details.html">Graphic Design</a></li>
                                    </ul>
                                </li>
                                <li class="mobile_dropdown">
                                    <a href="#">
                                        <span>
                                            <img src="images/menu_category_icon_2.png" alt="Category" class="img-fluid">
                                        </span>
                                        Business
                                    </a>
                                    <ul class="inner_menu">
                                        <li><a href="courses_details.html">Web Design</a></li>
                                        <li><a href="courses_details.html">Web Development</a></li>
                                        <li><a href="courses_details.html">UI/UX Design</a></li>
                                        <li><a href="courses_details.html">Graphic Design</a></li>
                                    </ul>
                                </li>
                                <li class="mobile_dropdown">
                                    <a href="#">
                                        <span>
                                            <img src="images/menu_category_icon_3.png" alt="Category" class="img-fluid">
                                        </span>
                                        Marketing
                                    </a>
                                    <ul class="inner_menu">
                                        <li><a href="courses_details.html">Web Design</a></li>
                                        <li><a href="courses_details.html">Web Development</a></li>
                                        <li><a href="courses_details.html">UI/UX Design</a></li>
                                        <li><a href="courses_details.html">Graphic Design</a></li>
                                    </ul>
                                </li>
                                <li class="mobile_dropdown">
                                    <a href="#">
                                        <span>
                                            <img src="images/menu_category_icon_4.png" alt="Category" class="img-fluid">
                                        </span>
                                        Lifestyle
                                    </a>
                                    <ul class="inner_menu">
                                        <li><a href="courses_details.html">Web Design</a></li>
                                        <li><a href="courses_details.html">Web Development</a></li>
                                        <li><a href="courses_details.html">UI/UX Design</a></li>
                                        <li><a href="courses_details.html">Graphic Design</a></li>
                                    </ul>
                                </li>
                                <li class="mobile_dropdown">
                                    <a href="#">
                                        <span>
                                            <img src="images/menu_category_icon_5.png" alt="Category" class="img-fluid">
                                        </span>
                                        Health & Fitness
                                    </a>
                                    <ul class="inner_menu">
                                        <li><a href="courses_details.html">Web Design</a></li>
                                        <li><a href="courses_details.html">Web Development</a></li>
                                        <li><a href="courses_details.html">UI/UX Design</a></li>
                                        <li><a href="courses_details.html">Graphic Design</a></li>
                                    </ul>
                                </li>
                                <li class="mobile_dropdown">
                                    <a href="#">
                                        <span>
                                            <img src="images/menu_category_icon_6.png" alt="Category" class="img-fluid">
                                        </span>
                                        Design
                                    </a>
                                    <ul class="inner_menu">
                                        <li><a href="courses_details.html">Web Design</a></li>
                                        <li><a href="courses_details.html">Web Development</a></li>
                                        <li><a href="courses_details.html">UI/UX Design</a></li>
                                        <li><a href="courses_details.html">Graphic Design</a></li>
                                    </ul>
                                </li>
                                <li class="mobile_dropdown">
                                    <a href="#">
                                        <span>
                                            <img src="images/menu_category_icon_7.png" alt="Category" class="img-fluid">
                                        </span>
                                        Academics
                                    </a>
                                    <ul class="inner_menu">
                                        <li><a href="courses_details.html">Web Design</a></li>
                                        <li><a href="courses_details.html">Web Development</a></li>
                                        <li><a href="courses_details.html">UI/UX Design</a></li>
                                        <li><a href="courses_details.html">Graphic Design</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--============================
        STICKY MENU END
    ==============================-->


    <!--===========================
        BREADCRUMB START
    ============================-->
    <section class="wsus__breadcrumb" style="background: url(images/breadcrumb_bg.jpg);">
        <div class="wsus__breadcrumb_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12 wow fadeInUp">
                        <div class="wsus__breadcrumb_text">
                            <h1>Blog details</h1>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li>Blog details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--===========================
        BREADCRUMB END
    ============================-->


    <!--===========================
        BLOG DETAILS START
    ============================-->
    <section class="wsus__blog_details mt_120 xs_mt_100 pb_120 xs_pb_100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 wow fadeInLeft">
                    <div class="wsus__blog_details_area">
                        <div class="wsus__blog_details_thumb">
                            <img src="images/blog_details_thumb.jpg" alt="Blog" class="img-fluid w-100">
                        </div>
                        <div class="wsus__blog_details_header">
                            <ul class="d-flex flex-wrap">
                                <li>
                                    <span class="author">
                                        <img src="images/author_img_6.jpg" alt="user" class="img-fluid">
                                    </span>
                                    By Hans Down
                                </li>
                                <li>
                                    <span>
                                        <img src="images/calendar_gray.png" alt="calendar" class="img-fluid">
                                    </span>
                                    March 08, 2024
                                </li>
                                <li>
                                    <span>
                                        <img src="images/bookmark_icon.png" alt="bookmark" class="img-fluid">
                                    </span>
                                    Creative
                                </li>
                                <li>
                                    <span>
                                        <img src="images/comment_icon_gray.png" alt="bookmark" class="img-fluid">
                                    </span>
                                    3 Comments
                                </li>
                            </ul>
                            <h2>Basic Steps For Achieving Realism in Lip Drawing in 7 Simple Moves.</h2>
                        </div>
                        <div class="wsus__blog_details_text">
                            <p>Nulla a ipsum nibh. Fusce purus elit, tristique vitae enim sed, auctor placerat est.
                                Maecenas consequat, nibh consequat malesuada fringilla, mauris lorem dapibus metus, non
                                imperdiet nunc erat ultricies est. Praesent ames faucibus massa. Nam nec lorem sit amet
                                leo consequat rutrum non orci Cras convallis nibh eget pellentesque commodo Nulla quis
                                sem eget metus.</p>
                            <div class="details_quot_text">
                                Donec sollicitudin eros porta lacinia feugiat. Donec et venenatis quam. Sed eu velit non
                                purus imperdiet sagittis a nunc. Phasellus eu euismod Intege erra pellentesque
                                luctusurna tempus id feugiat nec porta ac quam.
                                <h4>Dominic L. Ement</h4>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-md-6">
                                    <div class="blog_det_center_img">
                                        <img src="images/blog_details_center_img_1.jpg" alt="img" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6">
                                    <div class="blog_det_center_img">
                                        <img src="images/blog_details_center_img_2.jpg" alt="img" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <h2>Basic Steps For Achieving Realism in Lip Drawing in 7 Simple Moves.</h2>
                            <p>Nulla a ipsum nibh. Fusce purus elit, tristique vitae enim sed, auctor placerat est.
                                Maecenas consequat nibh consequat malesuada fringilla, mauris lorem dapibus metus, non
                                imperdiet nunc erat ultricies est. Praesent ames nec lorem sit amet leo consequat rutrum
                                non nibh sem eget metus.</p>
                        </div>
                        <div class="wsus__blog_det_tags_share d-flex flex-wrap mt_50">
                            <ul class="tags d-flex flex-wrap align-items-center">
                                <li><span>Tags:</span></li>
                                <li><a href="#">Course</a></li>
                                <li><a href="#">Education</a></li>
                                <li><a href="#">Learn</a></li>
                                <li><a href="#">Online</a></li>
                            </ul>
                            <ul class="share d-flex flex-wrap align-items-center">
                                <li><span>share:</span></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <div class="wsus__blog_det_author">
                            <div class="img">
                                <img src="images/blog_details_author_img.jpg" alt="Author" class="img-fluid">
                            </div>
                            <div class="text">
                                <h3>Ravi O'Leigh</h3>
                                <h5>Digital Marketing</h5>
                                <p>Sed mi leo, accumsan vel ante at, viverra placerat nulla. Donec pharetra rutrum sed
                                    allium lectus fermentum enim Nam maximus.</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wsus__blog_comment_area mt_75">
                            <h2>Comments</h2>
                            <div class="wsus__blog_single_comment">
                                <div class="img">
                                    <img src="images/testimonial_user_1.png" alt="Comments" class="img-fluid">
                                </div>
                                <div class="text">
                                    <h4>Ravi O'Leigh</h4>
                                    <h6>March 23, 2024 at 12:30 pm <a href="#"><i class="fas fa-reply"></i></a></h6>
                                    <p>Nulla a ipsum nibh. Fusce purus elit, tristique vitae enim sed, auctor placerat
                                        est. Maecenas consequat nibh consequat malesuada fringilla, mauris lorem dapibus
                                        metus, non imperdiet nunc erat ultricies est. Praesent ames nec lorem sit amet
                                        leo consequat rutrum non nibh sem eget metus.</p>
                                </div>
                            </div>
                            <div class="wsus__blog_single_comment single_comment_reply">
                                <div class="img">
                                    <img src="images/testimonial_user_2.png" alt="Comments" class="img-fluid">
                                </div>
                                <div class="text">
                                    <h4>Doug Lyphe</h4>
                                    <h6>June 25, 2024 at 08:45 pm <a href="#"><i class="fas fa-reply"></i></a></h6>
                                    <p>Nulla a ipsum nibh. Fusce purus elit, tristique vitae enim sed, auctor placerat
                                        est. Maecenas consequat nibh consequat malesuada fringilla, mauris lorem dapibus
                                        metus, non imperdiet nunc erat ultricies est. Praesent ames nec lorem sit amet
                                        leo consequat rutrum non nibh sem eget metus.</p>
                                </div>
                            </div>
                            <div class="wsus__blog_single_comment">
                                <div class="img">
                                    <img src="images/testimonial_user_3.png" alt="Comments" class="img-fluid">
                                </div>
                                <div class="text">
                                    <h4>Doug Lyphe</h4>
                                    <h6>June 25, 2024 at 08:45 pm <a href="#"><i class="fas fa-reply"></i></a></h6>
                                    <p>Nulla a ipsum nibh. Fusce purus elit, tristique vitae enim sed, auctor placerat
                                        est. Maecenas consequat nibh consequat malesuada fringilla, mauris lorem dapibus
                                        metus, non imperdiet nunc erat ultricies est. Praesent ames nec lorem sit amet
                                        leo consequat rutrum non nibh sem eget metus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="wsus__blog_comment_input_area mt_75">
                            <h2>Post a Comment</h2>
                            <p>Your email address will not be published. Required fields are marked *</p>
                            <form action="#">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <input type="text" placeholder="Name">
                                    </div>
                                    <div class="col-xl-6">
                                        <input type="email" placeholder="Email">
                                    </div>
                                    <div class="col-xl-12">
                                        <textarea rows="5" placeholder="Leave a reply"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Save my name, email, and website in this browser for the next time I
                                                comment.
                                            </label>
                                        </div>
                                        <button type="submit" class="common_btn">Post Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInRight">
                    <div class="wsus__blog_sidebar wsus__sidebar">
                        <form action="#" class="wsus__sidebar_search">
                            <input type="text" placeholder="Search Here...">
                            <button type="submit">
                                <img src="images/search_icon.png" alt="Search" class="img-fluid">
                            </button>
                        </form>
                        <div class="wsus__sidebar_recent_post">
                            <h3>Recent Posts</h3>
                            <ul class="d-flex flex-wrap">
                                <li>
                                    <a href="#" class="img">
                                        <img src="images/blog_4_img_1.jpg" alt="Blog" class="img-fluid">
                                    </a>
                                    <div class="text">
                                        <p>
                                            <span>
                                                <img src="images/calendar_blue.png" alt="Clander" class="img-fluid">
                                            </span>
                                            March 23, 2024
                                        </p>
                                        <a href="#" class="title">Launch into UI Design with Tips For Efficient
                                            Progress</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img src="images/blog_4_img_2.jpg" alt="Blog" class="img-fluid">
                                    </div>
                                    <div class="text">
                                        <p>
                                            <span>
                                                <img src="images/calendar_blue.png" alt="Clander" class="img-fluid">
                                            </span>
                                            June 15, 2024
                                        </p>
                                        <a href="#" class="title">Simplified Approach to Realistic Lip Drawing in 7
                                            Steps.</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img src="images/blog_4_img_3.jpg" alt="Blog" class="img-fluid">
                                    </div>
                                    <div class="text">
                                        <p>
                                            <span>
                                                <img src="images/calendar_blue.png" alt="Clander" class="img-fluid">
                                            </span>
                                            October 27, 2024
                                        </p>
                                        <a href="#" class="title">Exploring the GREP Command For File Discovery in
                                            Linux.</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="wsus__sidebar_blog_category">
                            <h3>Categories</h3>
                            <ul>
                                <li>
                                    <a href="#">Business <span>(07)</span></a>
                                </li>
                                <li>
                                    <a href="#">Data Science <span>(14)</span></a>
                                </li>
                                <li>
                                    <a href="#">Marketing <span>(27)</span></a>
                                </li>
                                <li>
                                    <a href="#">Health & Fitness <span>(31)</span></a>
                                </li>
                                <li>
                                    <a href="#">Finance <span>(12)</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="wsus__sidebar_blog_tags">
                            <h3>Tags</h3>
                            <ul class="d-flex flex-wrap">
                                <li><a href="#">Course</a></li>
                                <li><a href="#">Education</a></li>
                                <li><a href="#">Learn</a></li>
                                <li><a href="#">Online</a></li>
                                <li><a href="#">eLearning</a></li>
                                <li><a href="#">LMS</a></li>
                                <li><a href="#">Development</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--===========================
        BLOG DETAILS END
    ============================-->


    <!--===========================
        FOOTER 3 START
    ============================-->
    <footer class="footer_3" style="background: url(images/footer_3_bg.jpg);">
        <div class="footer_3_overlay pt_120 xs_pt_100">
            <div class="wsus__footer_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 wow fadeInUp">
                            <div class="wsus__footer_3_logo_area">
                                <a class="logo" href="index.html">
                                    <img src="images/footer_logo.png" alt="EduCore" class="img-fluid">
                                </a>
                                <p>Nunc in sollicitudin diam, ut bibendum malesuada sodales porttitor.</p>
                                <h2>Follow Us On</h2>
                                <ul class="d-flex flex-wrap">
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-md-3 wow fadeInUp">
                            <div class="wsus__footer_link">
                                <h2>Courses</h2>
                                <ul>
                                    <li><a href="#">Life Coach</a></li>
                                    <li><a href="#">Business Coach</a></li>
                                    <li><a href="#">Health Coach</a></li>
                                    <li><a href="#">Development</a></li>
                                    <li><a href="#">SEO Optimize</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-md-3 wow fadeInUp">
                            <div class="wsus__footer_link">
                                <h2>Programs</h2>
                                <ul>
                                    <li><a href="#">The Arts</a></li>
                                    <li><a href="#">Human Sciences</a></li>
                                    <li><a href="#">Economics</a></li>
                                    <li><a href="#">Natural Sciences</a></li>
                                    <li><a href="#">Business</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp">
                            <div class="wsus__footer_3_subscribe">
                                <h3>Subscribe Our Newsletter</h3>
                                <form action="#">
                                    <input type="text" placeholder="Enter Your Email">
                                    <button type="submit" class="common_btn">Subscribe</button>
                                </form>
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <img src="images/call_icon_white.png" alt="Call" class="img-fluid">
                                        </div>
                                        <div class="text">
                                            <h4>Call us:</h4>
                                            <a href="mailto:example@gmail.com">example@gmail.com</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <img src="images/location_icon_white.png" alt="Call" class="img-fluid">
                                        </div>
                                        <div class="text">
                                            <h4>Office:</h4>
                                            <p>25-02 44th Queens, NY 3645, United States</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wsus__footer_copyright_area mt_140 xs_mt_100">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="wsus__footer_copyright_text">
                                <p>Copyright © 2024 All Rights Reserved by EduCore Education</p>
                                <ul>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Term of Service</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--===========================
        FOOTER 3 END
    ============================-->


    <!--================================
        SCROLL BUTTON START
    =================================-->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!--================================
        SCROLL BUTTON END
    =================================-->


    <!--jquery library js-->
    <script src="js/jquery-3.7.1.min.js"></script>
    <!--bootstrap js-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!--font-awesome js-->
    <script src="js/Font-Awesome.js"></script>
    <!--marquee js-->
    <script src="js/jquery.marquee.min.js"></script>
    <!--slick js-->
    <script src="js/slick.min.js"></script>
    <!--countup js-->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.countup.min.js"></script>
    <!--venobox js-->
    <script src="js/venobox.min.js"></script>
    <!--nice-select js-->
    <script src="js/jquery.nice-select.min.js"></script>
    <!--Scroll Button js-->
    <script src="js/scroll_button.js"></script>
    <!--pointer js-->
    <script src="js/pointer.js"></script>
    <!--range slider js-->
    <script src="js/range_slider.js"></script>
    <!--barfiller js-->
    <script src="js/animated_barfiller.js"></script>
    <!--calendar js-->
    <script src="js/jquery.calendar.js"></script>
    <!--starRating js-->
    <script src="js/starRating.js"></script>
    <!--Bar Graph js-->
    <script src="js/jquery.simple-bar-graph.min.js"></script>
    <!--select2 js-->
    <script src="js/select2.min.js"></script>
    <!--Video player js-->
    <script src="js/video_player.min.js"></script>
    <script src="js/video_player_youtube.js"></script>
    <!--wow js-->
    <script src="js/wow.min.js"></script>

    <!--main/custom js-->
    <script src="js/main.js"></script>

</body>

</html>