/* Uvoz Bootstrap stilova */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Uvoz tvojih specifiÄnih stilova */
@import './layouts/header.css';
@import './layouts/navbar.css';
@import 'variables.css';
@import './pages/hero.css';
@import 'custom.css';

