/* Osnovna podešavanja za html i body */
html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    line-height: 1.5; 
    color: #333; 
    background-color: #fff; 
    box-sizing: border-box; 
    overflow-x: hidden; /* Sprečava horizontalni skroling */
}

/* Osiguravanje da svi elementi koriste box-sizing: border-box */
*, *::before, *::after {
    box-sizing: inherit; /* Nasleđivanje box-sizing pravila */
}

/* Linkovi: Uklanja podrazumevane stilove */
a {
    text-decoration: none; 
    color: inherit; /* Nasleđuje boju teksta */
}

/* Podesavanja za respozivnost  */
@media (max-width: 768px) {
    html {
        font-size: 14px; /* Smanjenje osnovne veličine fonta na manjim ekranima */
    }
}
@media (max-width:1024px) {
    html {
        font-size: 15px;
    }
}

/* Resetovanje stilova za slike */
img {
    max-width: 100%;
    height: auto; 
}

/* Resetovanje stilova za tabele */
table {
    border-collapse: collapse; /* Spaja ivice tabela */
    width: 100%; /* Tabele zauzimaju punu širinu */
}

/* Resetovanje stilova za liste */
ul, ol {
    list-style: none; 
    padding: 0;
    margin: 0;
}

/* Podesavanje stila za dugmadi */
button {
    background: none;
    border: none;
    cursor: pointer; /* Kursori postavljeni na "pointer" kad je dugme u fokusu */
}
