/* Root nivo - globalne promenljive */
:root {
    /* Osnovne boje */
    --primary-color:#dfcfb7;  /* Pozadina ili primarna boja */
    --secondary-color: #fff; /* Sekundarna boja */
    --accent-color: #; 
    --text-color: #645452; /* Standardna boja za tekst */
    --text-light-color: ; /* Boja za svetli tekst */
    --link-hover-color: #645452; /* Boja linkova pri hover-u */

    /* Fontovi */
    --font-family: 'Helvetica', 'Arial', sans-serif; /* Glavni font */
    --font-size-base: 1rem; /* Osnovna veličina fonta */
    --font-size-small: 0.875rem; /* Manji font */
    --font-size-large: 1.25rem; /* Veći font */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Razmaci i padding */
    --space-xs: 0.5rem; /* Extra mali razmak */
    --space-sm: 1rem; /* Mali razmak */
    --space-md: 1.5rem; /* Srednji razmak */
    --space-lg: 2rem; /* Veliki razmak */


    --box-shadow-style: 0 4px 2px -2px gray;

}
