/* Glavni container sa paddingom */
.container { 
    width: 100%;
    margin: 5rem;
}
 .container-fluid {
        margin: 0;
        padding: 0;
    }
 .text-center {
    font-weight: 400;
    color: var(--text-color);
    text-align: start;
    border-bottom: 1px solid var(--text-color);
    box-shadow: var(--box-shadow-style);
    padding-bottom: 10px;
 }   
 

/* Flex container za kartice */
.store-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
     
    margin-top: 3rem;
}

/* Stil za pojedinačnu karticu */
.store-card {
    flex: 1 1 calc(20% - 15px); 
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: calc(20% - 15px); 
    
}

/* Hover efekat na kartici */
.store-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Stilizacija naslova */
.store-card .card-title {
    font-size: 1rem; 
    font-weight: bold;
    color: #333;
}

/* Opis sa kraćim tekstom */
.store-card .card-text {
    font-size: 0.875rem; 
    color: #555;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

/* Efekat za dugme */
.store-card .btn {
    transition: background-color 0.3s;
}

/* Hover efekat na dugme */
.store-card .btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Mediji za velike ekrane  */
@media (min-width: 1024px) {
    .store-card {
        flex: 1 1 calc(20% - 15px); 
        max-width: calc(20% - 15px); 
    }
}

/* Mediji za tablet ekrane (od 768px do 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
    .store-card {
        flex: 1 1 calc(25% - 15px); 
        max-width: calc(25% - 15px); 
    }
}
/* Mediji za mobilne ekrane (768px i manji) - 2 kartice u redu */
@media (max-width: 768px) {
    .store-flex-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0; 
    }
    }
    

/* Mediji za mobilne ekrane (od 480px do 768px) */
@media (max-width: 768px) and (min-width: 480px) {
    .store-flex-container {
        gap: 10px; /* Manji razmak između kartica */
        margin-left: 0;
        margin-right: 0;
    }

    .store-card {
        flex: 1 1 calc(48% - 10px); 
        max-width: calc(48% - 10px); 
        margin-bottom: 15px; 
    }
}

/* Mediji za još manji ekran - 1 kartica u redu (ispod 480px) */
@media (max-width: 480px) {
    .store-card {
        flex: 1 1 calc(98% - 15px);
        max-width: calc(98% - 15px); 
    }
}

