/* Glavni stil za hero sekciju */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color, #fff);
    gap: 2rem;
}

/* Stil za tekstualni sadržaj */
.hero__content {
    max-width: 50%; 
    padding: 0 3rem;
}

.hero__content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--text-color, #000);
}

.hero__content p {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    color: var(--text-color, #333);
}

.hero__button {
    text-decoration: none;
    background-color: var(--accent-color, #dfcfb7);
    color: var(--text-color);
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    
}

.hero__button:hover {
    background-color: #b8a58c; 
    color: #fff;
}

/* Stil za div slike */
.hero__image {
    max-width: 50%; 
    height: 500px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
}

.hero__image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}




/* Responzivnost: Za manje ekrane */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero__content,
    .hero__image {
        max-width: 100%; 
    }
    .hero__content {
        padding: 5rem;
    }

    .hero__image img {
        margin-top: 1rem;
    }
}


@media (min-width: 768px) and (max-width: 1124px) {
    .hero {
        flex-direction: row; 
        align-items: center;
        justify-content: space-between; 
        text-align: left; 
    }

    .hero__content,
    .hero__image {
        max-width: 50%;
    }

    .hero__content {
        padding: 0 1rem;
    }

    .hero__image img {
        object-fit: cover;
        margin-top: 0; 
    }
}

