
.navbar {
    background-color: #fff;
    padding: 15px 0; 
    margin-right: 20%;
   
   
}    
.navbar-nav{
    color: var(--text-color);

}
.navbar .navbar-brand {
    font-size: 1.5rem; 
    color: #b71b1b; 
}

.navbar .navbar-toggler {
    border: 1px solid #f0eeee; /* Bela granica oko hamburger menija */
}

/* Stil za stavke u navbaru */
.navbar-nav  .nav-link {
    color: var(--text-color)!important; 
    font-weight: 400; 
    font-size: 22px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #0c200f; /* Plava boja prilikom hover-a */
    text-decoration: underline; /* Podvlačenje linka pri hover-u */
}

 .navbar-collapse{
    justify-content: end;
    
}


/* Responzivnost za manje ekrane */
@media (max-width: 992px) {
    .navbar {
        padding: 10px 0; /* Manji padding na manjim ekranima */
        margin-right: 1%;
    }
    .navbar-nav {
        text-align: center; /* Centriranje stavki u navbar-u */
    }
}
