/* Navigacija (navbar) */
.navbar {
    background-color: var(--secondary-color);
    padding: 15px 0;
    width: 100%;
    box-shadow: var(--box-shadow-style);
}

/* Linkovi unutar navigacione trake */
.navbar-nav {
    color: var(--text-color);
    display: flex;
    margin-left: auto;
}

/* Stil za brend u navbar-u */
.navbar .navbar-brand {
    font-size: 2rem;
    color: var(--text-color);
    padding: 0;
}

/* Stil za dugme koje prikazuje navigacioni meni na manjim ekranima (hamburger meni) */
.navbar .navbar-toggler {
    border: 1px solid var(--primary-color); /* Bela granica oko hamburger menija */
}
.navbar-collapse {
    justify-content: flex-end;
    margin-right: 18%; 
}

/* Stil za linkove unutar navigacione trake */
.navbar-nav .nav-link {
    color: var(--text-color) !important;
    font-weight: 400;
    font-size: 1.375rem;
    padding: 0 15px; 
}

/* Responzivnost za manje ekrane */
@media (max-width: 768px) {
    .navbar {
        padding: 10px 0;
    }
    
    .navbar-nav {
        flex-direction: column;
        
    }
}
